{% extends 'base.html' %}
{% block title %}Блюдо{% endblock %}
{% block content %}


    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ food.name }}</h5>
        <p class="card-text">{{ food.description }}</p>
        <a href="{% url 'webapp:food_delete' food.pk %}" class="btn btn-primary float-right ml-2">Удалить</a>
        <a href="{% url 'webapp:food_update' food.pk %}" class="btn btn-primary float-right ml-2">Редактировать</a>
      </div>
      <img class="card-img-bottom" src="{{ food.photo.url }}" alt="Card image cap">
    </div>

{% endblock %}