{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Заказ{% endblock %}
{% block content %}
    <div class="card bg-info">
      <div class="card-body">
        <h5 class="card-title">Номер заказа: {{ order.pk }}</h5>
        <p class="card-text">Статус заказа: {{ order.status }}</p>
        <p class="card-text">Имя заказщика: {{ order.contact_name }}</p>
        <p class="card-text">По адресу: {{ order.delivery_address }}</p>
        <p class="card-text">Номер заказщика: {{ order.contact_phone }}</p>
        {% if order.status != 'В пути' or order.status != 'Доставлен' %}
            <a href="{% url 'webapp:order_update' order.pk %}" class="card-link">
                <button type="submit" class="btn btn-primary">Редакировать</button>
            </a>
            <a href="{% url 'webapp:order_cancel' order.pk %}" class="card-link">
                <button type="submit" class="btn btn-primary">Отменить</button>
            </a>
        {% endif %}
      </div>
    </div>
    <div class="card mt-2 bg-warning">
      <div class="card-body">
        <h5 class="card-title">Корзина</h5>

        <table class="table">
          <tbody id="order_food_list">
          {% for order_food in order.foods.all %}
              <tr id="order_food_{{ order_food.pk }}">
                  <th id="order_food_name_{{ order_food.pk }}"  scope="row">{{ order_food.food.name }}</th>
                  <td id="order_food_amount_{{ order_food.pk }}">{{ order_food.amount }} шт.</td>

                  <td>

                    {% if order.status == 'Новый' %}
                    <a class="btn btn-primary float-right" href="{% url 'webapp:food_delete' order_food.pk %}">


                        Изменить
                    </a>
                    {% endif %}

                  </td>

                  <td>

                    {% if order.status == 'Новый' %}
                    <a class="btn btn-primary float-right" href="{% url 'webapp:food_delete' order_food.pk %}">


                        Удалить
                    </a>
                    {% endif %}

                  </td>

              </tr>
          {% endfor %}
          </tbody>
        </table>

        <a href="{% url 'webapp:order_food_create' order.pk %}" id="order_food_add_link"><button type="button" class="btn btn-primary mb-2">Добавить блюдо</button></a>

      </div>
    </div>
    <a href="{% url 'webapp:order_done' order.pk %}"><button type="submit" class="btn btn-primary mt-2">Заказ готов</button></a>



    <div class="modal" tabindex="-1" role="dialog" id="food_edit_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить блюда</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="food_form" action="{% url 'webapp:order_food_create' order.pk %}" method="POST">
                        <div class="text-danger" id="food_form_errors"></div>
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="food_submit">Добавить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script type="application/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
