{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
    <h1>Список заказов</h1>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Заказчик</th>
      <th scope="col">Телефонный номер</th>
      <th scope="col">Статус</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for order in order_list %}
    <tr>
      <th scope="row"><a href="{% url 'webapp:order_detail' order.pk %}">{{ order.pk }}</a></th>
      <td>{{ order.contact_name }}</td>
      <td>{{ order.contact_phone }}</td>
      <td>{{ order.status }}</td>
      <td><a href="{% url 'webapp:order_detail' order.pk %}">Подробнее...</a></td>

    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}