{% extends 'base.html' %}
{% block title %}Заказ{% endblock %}
{% block content %}
    <p>Номер вашего заказа: {{ order.pk }}</p>
    <p>Статус вашего заказа: {{ order.status }}</p>
    <p>На имя: {{ order.contact_name }}</p>
    <p>По адресу:{{ order.delivery_address }}</p>
    <p>{{ order.contact_phone }}</p>
    {% if order.status != 'В пути' or status.pk != 'Доставлен' %}
    <a href="{% url 'order_update' order.pk %}"><button type="submit" class="btn btn-primary">Редактировать</button></a><br/>
    {% endif %}
    <br/>

    {% for order_food in order.foods.all %}
        <p>{{ order_food.food.name }} - {{ order_food.amount }}</p> <a class="" href="{% url 'food_delete' order_food.pk %}">Удалить</a>

    {% endfor %}
    <br/>
    <a href="{% url 'orderfood' order.pk %}"><button type="submit" class="btn btn-primary">Добавить блюдо</button></a><br/>
    {% endblock %}
